@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fr.allfont.net/allfont.css?fonts=dot-matrix');

* {
  box-sizing: border-box;
}


.container {
  max-width: 1400px;
  min-height: 100vh;
  background-color: #000;
  /* padding: 1em; */
  display: grid;
  grid-template-rows: 10% 70% 20%;
  grid-template-columns: 100%;
  grid-gap: 2em;
  overflow: hidden;
  /* grid-template-areas: "header" "content" "input"; */
}
header {
 /* display: grid;
 grid-template-columns: auto auto; */
 max-width: 20rem

}
 .connect, .connect1, .connect2 {
  color:  #03A062;
  padding:1em;
  font-family: 'Dot Matrix', arial;
  margin-left: 10px

  
}
main {
  /* background-color: blue; */
}
.input-box {
 background-color: #000;
//  border: none;
 color:  #03A062;
 padding:1em;
 font-family: 'Dot Matrix', arial;
 margin-left: 10px ;
 font-weight: 800;
  font-size: 22px;
  
 
}
input:focus{
  outline: none;
}

/* another typing */
.connect, .connect1, .connect2 {
  display: flex;
  justify-content: flex-start;  
  align-items: center;
}
.connect h3,.connect1 h3,.connect2 h3 {
  border-right: .15em solid  #03A062;
 font-family:  'Dot Matrix', arial;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
}


.connect h3 {
  

  width: 7.3em;
  opacity: 0;
  -webkit-animation: type 2s steps(10, end);
  animation: type 2s steps(10, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

}
.connect1 h3 {
  width: 7.3em;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.connect2 h3 {
  width: 7.3em;
  opacity: 0;
  -webkit-animation: type 2s steps(10, end);
  animation: type 2s steps(10, end);
  -webkit-animation-delay: 14s;
  animation-delay: 14s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #03A062;
    opacity: 1;
  }
  100% {
    border: none;
    opacity: 1;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #03A062;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #03A062;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #03A062;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    border: none
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    border: none
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}


  .counter {
    width: 60px;
    font: 800 20px system-ui;
    overflow: hidden;
  }
  .numbers {
    width: 10px;
    display: flex;
    opacity: 0;
    animation: countNumber 0.2s  alternate;
    animation-timing-function: steps(2);
    -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  }
  .numbers div {
    // text-align: right;
    flex: 0 0 100px;
  }
  
  @keyframes countNumber {
    0% {
      margin-left: 0px;
      opacity: 1;
    }
    100% {
      margin-left: -200px;
      opacity: 1;
    }
  }
  .numbers1 {
    width: auto;
    display: flex;
    opacity: 0;
    animation: countNumber1 0.2s  alternate;
    animation-timing-function: steps(2);
    -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  }
  .numbers1 div {
    // text-align: left;
    flex: 0 0 100px;
  }
  .numb {
    display:grid;
    width: 100px;
    grid-template-columns: repeat(6,1fr);
    // align-items: center;
  }
  @keyframes countNumber1 {
    0% {
      margin-left: 0px;
      opacity: 1;
    }
    100% {
      margin-left: -200px;
      opacity: 1;
    }
  }
  .numbers2 {
    width: auto;
    display: flex;
    opacity: 0;
    animation: countNumber2 0s  alternate;
    animation-timing-function: steps(0);
    -webkit-animation-delay: 7s;
  animation-delay: 7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  }
  .numbers2 div {
  //  text-align: center;
    flex: 0 0 100px;
  }
 
  @keyframes countNumber2 {
    0% {
      margin-left: 0px;
      opacity: 1;
    }
    100% {
      margin-left: -0px;
      opacity: 1;
    }
  }
  .numbers3 {
    width: auto;
    display: flex;
    opacity: 0;
    animation: countNumber3 0.4s  alternate;
    animation-timing-function: steps(4);
    -webkit-animation-delay: 8s;
  animation-delay: 8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  }
  .numbers3 div {
  //  text-align: center;
    flex: 0 0 100px;
  }

  @keyframes countNumber3 {
    0% {
      margin-left: 0px;
      opacity: 1;
    }
    100% {
      margin-left: -400px;
      opacity: 1;
    }
  }
  .numbers4 {
    width: auto;
    display: flex;
    opacity: 0;
    animation: countNumber4 0.8s  alternate;
    animation-timing-function: steps(8);
    -webkit-animation-delay: 9s;
  animation-delay: 9s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  }
  .numbers4 div {
  //  text-align: center;
    flex: 0 0 100px;
  }

  @keyframes countNumber4 {
    0% {
      margin-left: 0px;
      opacity: 1;
    }
    100% {
      margin-left: -800px;
      opacity: 1;
    }
  }
  .numbers5 {
    width: auto;
    display: flex;
    opacity: 0;
    animation: countNumber5 0.1s  alternate;
    animation-timing-function: steps(2);
    -webkit-animation-delay: 10s;
  animation-delay: 10s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  }
  .numbers5 div {
  //  text-align: center;
    flex: 0 0 100px;
  }
 
  @keyframes countNumber5 {
    0% {
      margin-left: 0px;
      opacity: 1;
    }
    100% {
      margin-left: -200px;
      opacity: 1;
    }
  }
  

@media (min-width: 1404px) {
  .container {
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 1em auto;
    min-height: calc(100vh - 2em);
   
  }
  
}

